.main{
  display: flex;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.main_code_photo{
  display: flex;
  margin: auto auto;
}
  .code{
    display: flex;
    background-repeat: no-repeat;
    height: inherit;
    background-image: url(../images/background_short.png);
  }
    
    .code_background_go{
      background-position-y: 100%;
    }
    .code_background_back{
      background-position-y: 0%;
    }

    .code_background_go,
    .code_background_back{
      -webkit-transition: 200s ease-out;
      -moz-transition: 200s ease-out;
      -o-transition: 200s ease-out;
      transition: 200s ease-out;
    }

    .gradient{
      display: flex;
      width: 300px;
      height: 480px;
      background: linear-gradient(0deg, black 1%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 50%, black 99%);
    }

    /* .gradient_right{
      position: relative;
      width: 300px;
      height: 480px;
      right: 560px;
      background: linear-gradient(270deg, black 1%, rgba(0, 0, 0, 0) 50%);
    } */
  .photo{
    display: flex;
    margin: auto;
    max-width: 720px;
    max-height: 480px;
    background-image: url(../images/WB.jpg);
  }

/*** SKILLS ***/

.skills_block{
    background: rgb(224, 222, 222);
}

.skills_technical{
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding-top: 10px ;
}

.skills_technical h2{
    margin: 86px auto;
    border-bottom: 2px solid black;
    color: #000;
    padding-bottom: 20px;
    font-size: xx-large;
}

.skills{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 1200px;
    margin: 10px auto;
    padding-bottom: 50px;
}

.skill{
    display: flex;
    flex-direction: column;
    margin: 10px;
    max-width: 150px;
}

.shadow{
    opacity: 0.7;
}

.skill img{
    margin: auto auto;
    max-width: 120px;
}

.skill img:hover{ 
    opacity: 1;
}

.jobs_block{
    background:  rgb(224, 222, 222);
}

.jobs_exemple{
    max-width: 1200px;
    margin: 20px auto;
    text-align: center;
    padding-top: 10px ;
}

.jobs_exemple h2{
    margin: 86px auto;
    border-bottom: 2px solid black;
    color: #000;
    padding-bottom: 20px;
    font-size: xx-large;
}

.jobs{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-evenly;
    max-width: 1200px;
    padding-bottom: 50px;
}

.blockimg{
    -webkit-transition: 5s ease-out;
    -moz-transition: 5s ease-out;
    -o-transition: 5s ease-out;
    transition: 5s ease-out;
}

.blockimg:hover{
    background-position-y: 100%;
}

.blockimg{
    margin: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 220px;
    height: 280px;
    min-height: 100px;
    max-height: 280px;
    border-radius: 16px;
    background-color: #f1f1f1;
}

/*** CONTACTS ***/

.order-block {
    background: #222222 url(./images/black-bg.png) no-repeat center top/cover;
    padding-bottom: 120px;
  }

  .container {
    width: 1136px;
    margin: 0 auto;
  }

  .order-block__heading{
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding-top: 10px;
  }
  
  .order-block__heading h2{
    margin: 86px auto;
    border-bottom: 2px solid white;
    color: #FFFFFF;
    padding-bottom: 20px;
    font-size: xx-large;
  }
  
  .order-block__form {
    /* background: linear-gradient(206.08deg, #FAD949 -70.14%, #F7C644 267.69%); */
    background: linear-gradient(206.08deg, #52e093 -70.14%, #36c275 267.69%);
    border-radius: 2px;
    width: 550px;
    color: #222222;
  }
  
  .order-block__form label {
    padding-bottom: 8px;
  }
  
  .order-block__form [type=text] {
    width: 388px;
    padding: 16px;
    font-size: 18px;
    font-family: 'Gilroy', sans-serif;
  }
  
  .order-block__form form {
    display: flex;
    flex-direction: column;
    padding: 64px 80px;
  }
  
  .order-block__form p {
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    padding-bottom: 24px;
  }
  
  .order-block__form h4 {
    font-weight: 400;
    font-size: 40px;
    line-height: 130%;
    padding-bottom: 24px;
  }
  
  .order-block__form-input {
    display: flex;
    flex-direction: column;
    padding-bottom: 24px;
  }
  
  .order-block__text {
    font-weight: 400;
    font-size: 40px;
    line-height: 110%;
    color: #FFFFFF;
    margin-left: 48px;
  }
  
  .order-block__text h4 {
    font-weight: 400;
    padding: 72px 0 24px;
    color: #36c275;
  }
  
  .order-block__call {
    display: flex;
    align-items: center;
    padding-bottom: 8px;
  }

  .order-block__call img{
      max-width: 110px;
  }
  
  .order-block__call:hover {
    cursor: pointer;
  }
  
  .order-block__call a {
    color: #FFFFFF;
    font-size: 20px;
    padding-left: 8px;
  }
  
  .order-block__social ul {
    display: flex;
  }
  
  .order-block__social a {
    color: #FFFFFF;
    font-size: 24px;
    padding-right: 16px;
  }
  
  .order-block__social a:hover {
    color: #FAD949;
  }
  
  .order-block__adress {
    font-size: 20px;
    padding-bottom: 8px;
  }
  
  .order-block__adress i {
    padding-right: 8px;
    color: #FAD949;
  }
  
  .order-block__text span {
    color: #FFD109;
  }
  
  .order-block__flex-container {
    display: flex;
    align-items: center;
    margin-top: 120px;
    margin-left: 20px;
  }
  
  .order-block-form--btn input[type=submit] {
    width: 100%;
  }