ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.colortext{
  color: #3DADFF;
}

.container{
  display: flex;
  flex-direction: column;
}

#Portfolio{
  margin: 0px;
  background-color: #fff;
  font-family: Lato, sans-serif;
}

.inside_body{
  margin: 0px auto;
  /* max-width: 1200px; */
}

.main{
 /*  max-width: 1200px; */
  display: flex;
  flex-direction: column;
  height: 100vh;
  -moz-background-size: 100%; /* Firefox 3.6+ */
  -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
  -o-background-size: 100%; /* Opera 9.6+ */
  background-size: 100%; /* Современные браузеры */
}
  .mobile_menu{
    display: none;
  }

  .menu{
    display: flex;
    margin: 0px auto;
  }
    .header__nav{
      display: flex;
      flex-direction: row;
      margin-top: 48px;
    }
  
    .header__nav-list,
    .header__nav-list2 {
      margin: 0px;
      display: flex;
    }
    
    .header__nav-list li:not(:last-child),
    .header__nav-list2 li:not(:last-child) {
      padding-right: 40px;
    }
    
    .header__nav-list a,
    .header__nav-list2 a{
      color: #FFFFFF;
      padding-bottom: 16px;
      border-bottom: 3px solid transparent;
      font-size: 23px;
      line-height: 29px;
      letter-spacing: 0.02em;
      text-transform: uppercase;
    }

    .header__nav-list2 a {
      color: #000;
    }

    .header__nav-list a:hover,
    .header__nav-list2 a:hover {
      border-bottom: 3px solid #3DADFF;
    }

    .underline_black a:hover{
      border-bottom: 3px solid #000;
    }
    .underline_white a:hover{
      border-bottom: 3px solid #fff;
    }

  .text_about{
    width: 50%;
    margin: auto;
    margin-left: 51%;
    color: #000;
  }
    .text_about h1{
      font-size: 55px;
      line-height: 72px;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      margin-top: 0px;
      margin-bottom: 0px;
    }

    .text_about p{
      font-size: 22px;
      line-height: 29px;
      letter-spacing: 0.02em;
      margin-top: 16px;
      margin-bottom: 0px;
    }

  .code{
    display: flex;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    justify-content: center;
    background-repeat: no-repeat;
    background-image: url(../images/background_short_black.png);
  }
    
    .code_background_go{
      background-position-y: 100%;
    }
    .code_background_back{
      background-position-y: 0%;
    }

    .code_background_go,
    .code_background_back{
      -webkit-transition: 100s ease-out;
      -moz-transition: 100s ease-out;
      -o-transition: 100s ease-out;
      transition: 100s ease-out;
    }

    .gradient{
      display: flex;
      width: 250px;
      background: linear-gradient(0deg, black 1%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 50%, black 99%);
    }

    .photo{
      display: flex;
      /* background-image: url(../images/Chess.jpg); */
    }
    .photo img{
      max-width: 350px;
      max-height: 380px;
    }

/*** SKILLS ***/

.skills_technical{
  max-width: 1200px;
  margin: 0px auto;
  padding-top: 120px;
  text-align: center;
}

.skills_technical h2{
    margin: 0 auto;
    color: #000;
    font-size: 44px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
}

.skills{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 80px auto 0px;
}

.skill{
    display: flex;
    flex-direction: column;
    max-width: 150px;
    margin-left: 20px;
}

.shadow{
    opacity: 0.5;
}

.skill img{
    margin: auto auto;
    max-width: 120px;
}


/*** JOBS ***/

.jobs_block{
    margin-top: 120px;
    background:  #000;
}

.jobs_exemple{
    max-width: 1200px;
    margin: 120px auto 0px;
    text-align: center;
    }

.jobs_exemple h2{
    color: #fff;
    margin: 0px;
    font-size: 44px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
}

.jobs{
    display: flex;
    flex-wrap: wrap;
    margin: 80px auto;
    justify-content: space-evenly;
    max-width: 1200px;
}

.blockimg{
    -webkit-transition: 5s ease-out;
    -moz-transition: 5s ease-out;
    -o-transition: 5s ease-out;
    transition: 5s ease-out;
}

.blockimg:hover{
    background-position-y: 100%;
}

.blockimg{
    margin: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 280px;
    height: 330px;
    
    background-color: #f1f1f1;
}

/*** CONTACTS ***/

.order-block {
    background: #3DADFF;
  }

  .order-block__heading{
   /*  max-width: 1200px; */
    margin: 120px auto 0px;
  }
  
  .order-block__heading h2{
    color: #FFFFFF;
    margin: 0px;
    font-size: 44px;
    line-height: 58px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
  }
  
  .order-block__flex-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 80px 60px;
  }

  .order-block__form {
    background-color: #000;
    width: 530px;
    color: #fff;
  }
  
  .order-block__form label {
    padding-bottom: 8px;
  }
  
  .order-block__form [type=text] {
    padding: 10px;
    font-size: 18px;
  }
  
  .order-block__form form {
    display: flex;
    flex-direction: column;
    padding: 50px 40px;
  }
  
  .order-block__form p {
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    padding-bottom: 24px;
  }
  
  .order-block__form h4 {
    font-weight: 400;
    font-size: 40px;
    line-height: 130%;
  }
  
  .order-block__form-input {
    display: flex;
    flex-direction: column;
    padding-bottom: 24px;
  }
    .order-block__form-input:nth-child(4) input{
      height: 50px;

    }
  
/*** contacts text ***/    
  .order-block__text {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
  }
    .order-block__call{
      display: flex;
      flex-wrap: wrap;
    }

      .order-block__call:hover {
        cursor: pointer;
      }
      
      .order-block__call a {
        color: #000;
        font-size: 20px;
        margin-left: 20px;
      }
    
    .order-block_mail{
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      margin-top: 20px;
      margin-bottom: 20px;
    }
      .order-block_mail a{
        font-size: 20px;
        line-height: 29px;
        color: #000;
        margin-left: 20px;
      }

    .order-block__adress {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
    }
      
      .order-block__adress p {
        font-size: 20px;
        margin: 0px;
        margin-left: 20px;
        color: #000;
      }

  .order-block-form--btn input[type=submit] {
    width: 100%;
    height: 40px;
    background: #007CD7;
  }

  /*** footer ***/
  .footer{
    background-color: #000;
  }

    .footer_block{
      /* max-width: 1200px; */
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      margin: 0px 60px;
    }

      .footer_mail{
        display: flex;
        align-items: center;
      }

        .footer_mail a{
          font-size: 16px;
          line-height: 29px;
          color: #fff;
          margin-left: 20px;
        }

      .footer_location{
        display: flex;
        align-items: center;
      }

        .footer_location p{
          font-size: 16px;
          line-height: 29px;
          color: #fff;
          margin-left: 20px;
        }

      .footer_massanger{
        display: flex;
      }

/*** screen 1024 ***/
@media only screen and (max-width: 1024px){

}
/*** screen 768 ****/

@media only screen and (max-width: 768px){
  .header__nav-list a,
  .header__nav-list2 a{
    padding-bottom: 14px;
    font-size: 12px;
    line-height: 27px;
  }

  .text_about h1 {
    font-size: 35px;
    line-height: 40px;
  }

  .text_about p {
    font-size: 13px;
    line-height: 10px;
    margin-top: 8px;
  }

  .code{
    background-image: none;
  }

  .gradient{
    display: none;
  }

  .photo img{
    max-width: 350px;
  }

  .skills_technical {
    padding-top: 80px;
  }

  .jobs_exemple,
  .order-block__heading{
    margin: 80px auto 0px;
  }

  .skills_technical h2,
  .jobs_exemple h2,
  .order-block__heading h2{
    font-size: 35px;
  }

  .skill img {
    max-width: 100px;
  }

  .order-block__form h4 {
    font-weight: 200;
    font-size: 30px;
  }

  .order-block__flex-container{
    justify-content: center;
  } 

  .order-block__text{
    margin-top: 35px;
  }

  .order-block__call a {
    font-size: 18px;
  }

  .order-block_mail a {
    font-size: 18px;
  }

  .order-block__adress p {
    font-size: 18px;
  }
}

@media only screen and (max-width: 425px){ 
  .header__nav-list a,
  .header__nav-list2 a {
      font-size: 10px;
  }

  .photo img {
    max-width: 340px;
    height: 360px;
  }

  .text_about h1 {
    font-size: 28px;
    line-height: 35px;
  }

  .text_about p {
    font-size: 11px;
    line-height: 5px;
    margin-top: 6px;
  }

  .skills_technical h2,
  .jobs_exemple h2,
  .order-block__heading h2 {
    font-size: 28px;
  }

  .skill img {
    max-width: 80px;
  }

  .order-block__form h4 {
    font-weight: 200;
    font-size: 20px;
    line-height: none;
  }

  .order-block__call a,
  .order-block_mail a,
  .order-block__adress p{
    font-size: 16px;
  }
}

@media only screen and (max-width: 375px){
  .menu{
    display: none;
  }

  .mobile_menu{
    display: flex;
  }

  .humburger_menu{
    margin: 10px auto;
    width: 320px;
  }

  .photo img {
    max-width: 320px;
    height: 350px;
  }
  
  .order-block__form{
    width: 320px;
  }

  .mobile_menu img{
    width: 50px;
    height: 50px;
  }

  .text_about h1,
  .skills_technical h2,
  .jobs_exemple h2,
  .order-block__heading h2 {
    font-size: 24px;
    line-height: 30px;
  }

  .text_about p {
    font-size: 10px;
    line-height: 5px;
    margin-top: 5px;
  }

  .skill img {
    max-width: 70px;
  }
}

@media only screen and (max-width: 320px){
  .mobile_menu_inside{
    width: 280px;
    margin: 10px auto;
  }

  .photo img {
    max-width: 280px;
    height: 300px;
  }
}

 /* ****************************************************************************************** */
    
 body.overflow_hidden {
  overflow: hidden;
}

.sail_menu {
  display: none;
  z-index: 2;
  position: fixed;
  width: 284px;
  height: 814px;
  background: #3DADFF;
}

.sail_menu_active {
  /* margin-left: 91px; */
  display: flex;
  flex-direction: column;
  -webkit-animation-name: moveLeft;
  -webkit-animation-duration: 0.8s;
   animation-name: moveLeft;
   animation-duration: 0.8s;

}

  @-webkit-keyframes moveLeft {
      /* from {
              margin-left: 376px;
      }
      to{
              margin-right:91px;
      } */

      from {
        margin-left: -285px;
      }
      to{
        margin-left:0px;
      }
  }
  @keyframes moveLeft {
      /* from {
              margin-left:376px;
         
      }
      to{
              margin-left:91px;
      } */

      from {
        margin-left: -285px;
      }
      to{
        margin-left:0px;
      }
  }



.sail_menu_header{
  display: flex;
  justify-content: space-between;
  height: 40px;
  margin: 20px auto;
  width: 244px;
}
  .sail_menu_logo{
      display: flex;
  }
      .sail_menu_logo img{
          width: 89px;
          height: 40px;
      }

  .sail_menu_closed{
      display: flex;
      margin: auto 0;
  }
      .sail_menu_closed img{
          width: 25px;
          height: 25px;
      }

.sail_menu_body{
  display: flex;
  flex-direction: column;
}
  .sail_menu_row{
      display: flex;
      flex-direction: column;
      height: auto;
      width: auto;
      margin-top: 115px;
      
  }
      .sail_Benefits_menu,
      .sail_Serves_menu,
      .sail_Prices_menu,
      .sail_Portfolio_menu,
      .sail_Contacts_menu{
          display: flex;
          margin: 35px auto 0;
          font-family: Gilroy;
          font-style: normal;
          font-weight: normal;
          font-size: 24px;
          line-height: 28px;
          color: #151515;
          }
          .sail_Benefits_menu{
              margin-top: 0;
          }
      .sail_Benefits_menu a,
      .sail_Serves_menu a,
      .sail_Prices_menu a,
      .sail_Portfolio_menu a,
      .sail_Contacts_menu a{
          text-decoration: none;
          font-family: Gilroy;
          font-style: normal;
          font-weight: normal;
          font-size: 24px;
          line-height: 28px;
          color: #151515;    
      }    

  .sail_number_phone{
          display: flex;
          margin: 124px auto 0;
          font-family: Gilroy;
          font-style: normal;
          font-weight: 600;
          font-size: 24px;
          line-height: 29px;
             
  }
      .sail_number_phone a{
          text-decoration: none;
          color: #151515; 
      }

      .sail_Social_Network{
          display: flex;
          justify-content: space-between;
          margin: 40px auto;
          padding: 0;
          width:181px;
      }

  .sail{
      text-align: center;
      margin: 0 auto;
  }
